.home {
  margin: auto;
  width: 1054px;
  max-width: 1054px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  cursor: pointer;
}

a label:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.banner {
  width: 100%;
}

.banner > img {
  width: 100%;
}

.about-us {
  margin-top: 10%;
  position: relative;
}

.about-us img {
  position: relative;
}

.about-us a {
  display: block;
  width: max-content;
  margin-left: 10%;
  border-radius: 4px;
  margin-bottom: 10%;
}

.about-us a button {
  color: #2947a9;
  width: max-content;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
}

.about-us-description {
  position: absolute;
  right: 0;
  top: 46%;
  transform: translateY(-50%);
  z-index: 2;
  max-width: 35%;
  background-color: #2947a9;
  font-size: 20px;
  color: aliceblue;
}

.about-us-description h2 {
  padding-top: 5%;
  padding-left: 10%;
  font-weight: 700;
}

.about-us-description p {
  padding-left: 10%;
}

.about-us-description > p:nth-child(3) {
  padding-bottom: 15%;
}
