.home {
  margin: auto;
  width: 1054px;
  max-width: 1054px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  cursor: pointer;
}

a label:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
