.services {
    width: 100%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F6F8F7;
}

h1 {
    width: 100%;
    text-align: center;
}

.service {
    width : 10%;
    display: flex;
    flex-direction: column;
    padding: 1% 7%;
    margin: 2% 2%;
    font-size: 20px;
}

.service-1 {
    background-color: #FFFFFF;
    color: #2947A9;
}

.service-2 {
    background-color: #2947A9;
    color: #FFFFFF
}

.service-underline {
    color: #E0E3EB !important;
    width: 45px;
    height: 2px;
    margin: auto;
}

h6 {
    margin: 20% 0;
    text-align: center;
}