.projects {
    padding-top: 8%;
}

.projects h1 {
    width: max-content;
    padding-left: 10%;
}

.projects-content {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.projects-slide {
    display: flex;
    justify-content: center;
    width: 60%;
    flex-wrap: wrap;
}

.projects-slide-item {
    width: 50%;
}