.about-us-description {
    position: absolute;
    right: 0;
    top: 46%;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 35%;
    background-color: #2947A9;
    font-size: 20px;
    color: aliceblue;
}

.about-us-description h2 {
    padding-top: 5%;
    padding-left: 10%;
    font-weight: 700;
}

.about-us-description p {
    padding-left: 10%;
}

.about-us-description > p:nth-child(3) {

    padding-bottom: 15%;
}