.header {
  display: flex;
  justify-content: space-between;
  margin: 1% 10%;
}

.header-nav {
  width: 50%;
}

.header-nav ul {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.header-nav ul {
  list-style: none;
}

.header-nav ul li:nth-child(5) {
  color: #f9995d;
}
